In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)

In [4]:
print(d.shape)

(4, 3)

In [5]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [6]:
print(df)

     A   B
r1  34  12
r2  78  67
r3  54  43

In [7]:
df[:2]

     A   B
r1  34  12
r2  78  67

In [9]:
df.iloc[:2]

     A   B
r1  34  12
r2  78  67

In [12]:

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df.shape)

(2, 3)

In [16]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [18]:
print(df.B)

r1    12
r2    67
r3    43
Name: B, dtype: int64

In [19]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [20]:
df.loc['r4'] = [67, 78]

In [21]:
print(df)

     A   B
r1  34  12
r2  78  67
r3  54  43
r4  67  78

In [23]:
x=pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
print(len(x))

4

In [25]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
print(df)

     A   B
r1  34  12
r2  78  67
r3  54  43

In [28]:
print(df.loc[:'r3'])

     A   B
r1  34  12
r2  78  67
r3  54  43

In [29]:
s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)
print(d.shape)

(4, 3)

In [30]:
x=pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')
print(len(x))

1

In [31]:
y=pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D')
print(len(y))

4

In [32]:
q=pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
print(len(q))

4

In [33]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [34]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df.shape)

(2, 3)

In [35]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
print(df.shape)

(2, 2)